.wax-tooltip, .openlayers-tooltip {
  z-index:999999;
  position:absolute;
  background:#333;
  color:#fff;
  padding:10px;
  right:10px;
  bottom:10px;
  max-width:300px;
}
.openlayers-tooltip {
  top: 10px;
  height: 100px;
  background: #b33;
}
.wax-tooltip .close {
  display:block;
  position:absolute;
  top:0px;
  right:0px;
}